@model List<ITE_Project.Dto.Course.CourseDto>
@using ITE_Project.Dto.Opinion
@{
    List<OpinionDto> op = new List<OpinionDto>();

    op = (List<OpinionDto>)ViewData["Opinio"];
    int x = 1;
}
<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

            <!-- Slider Item -->
            <div class="owl-item">

                <div class="home_slider_background" style="background-image:url(../images/index.jpg)"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content text-center">
                                    <div class="home_text">
                                        <div class="home_title">Complete Online Courses</div>
                                        <div class="home_subtitle">We offer for you the latest courses in various fields of computer science and technology.</div>
                                    </div>
                                    <div class="home_buttons">
                                        <div class="button home_button"><a asp-controller="Courses">learn more<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                        <div class="button home_button"><a>see all courses<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item">

                <div class="home_slider_background" style="background-image: url(../images/course_7.jpg)"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content text-center">
                                    <div class="home_text">
                                        <div class="home_title"> Free And Complete educational paths</div>
                                        <div class="home_subtitle">We have a selection of specialists who compile the educational paths accurately and credibly to take into account all levels to offer you the best path to follow</div>
                                    </div>
                                    <div class="home_buttons">
                                        <div class="button home_button"><a asp-controller="LearnTrackes">learn more<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                        <div class="button home_button"><a href="">see all courses<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image: url(../images/course_6.jpg)"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content text-center">
                                    <div class="home_text">
                                        <div class="home_title">Full and partial scholarships</div>
                                        <div class="home_subtitle">We offer you various scholarships for all levels of study provided by the best and most prestigious universities around the world</div>
                                    </div>
                                    <div class="home_buttons">
                                        <div class="button home_button"><a asp-controller="Scolership">learn more<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                        <div class="button home_button"><a>see all courses<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Featured Course -->

<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Home Slider Nav -->
                <div class="home_slider_nav_container d-flex flex-row align-items-start justify-content-between">
                    <div class="home_slider_nav home_slider_prev trans_200"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="home_slider_nav home_slider_next trans_200"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Courses -->

<div class="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="section_title text-center"><h2>Choose your course</h2></div>
                <div class="section_subtitle">Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam. Nullam bibendum interdum dui, ac tempor lorem convallis ut</div>
            </div>
        </div>


        <div class="row">
            <div class="col">

                <!-- Courses Slider -->
                <div class="courses_slider_container">
                    <div class="owl-carousel owl-theme courses_slider">


                        @foreach (var item in Model.Take(5))
                        {
                            <!-- Slider Item -->
                            <div class="owl-item">
                                <div class="course">
                                    <div class="course_image"><img src="~/images/@item.Photo" alt="" width="355" ></div>
                                    <div class="course_body">
                                        <div class="course_header d-flex flex-row align-items-center justify-content-start">
                                            <div class="course_tag"><a href="#">Featured</a></div>
                                            <div class="course_price ml-auto"><span>Free</span></div>
                                        </div>
                                        <div class="course_title"><h3><a href="@item.URLCourse" blank></a>@item.CourseName</h3></div>
                                        <div class="course_text">@item.corse_descraption</div>
                                        <div class="course_footer d-flex align-items-center justify-content-start">
                                            <div class="course_author_image"><img src="~/images/featured_author.jpg" alt=""></div>
                                            <div class="course_author_name"><a>@item.Language_Name</a></div>
                                            <div class="course_author_name"><a>@item.Level_Name</a></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }




                    </div>

                    <!-- Courses Slider Nav -->
                    <div class="courses_slider_nav courses_slider_prev trans_200"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="courses_slider_nav courses_slider_next trans_200"><i class="fa fa-angle-right" aria-hidden="true"></i></div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Milestones -->

<div class="milestones">

    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../images/milestones.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row milestones_container">

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/images/milestone_1.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="1548">0</div>
                    <div class="milestone_text">Online Courses</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/images/milestone_2.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="7286">0</div>
                    <div class="milestone_text">Students</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/images/milestone_3.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="257">0</div>
                    <div class="milestone_text">Teachers</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="~/images/milestone_4.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="39">0</div>
                    <div class="milestone_text">Countries</div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Sections -->

<div class="grouped_sections">
    <div class="container">
        <div class="row">

            <!-- Why Choose Us -->

            <div class="col-lg-4 grouped_col">
                <div class="grouped_title">Why Choose Us?</div>
                <div class="accordions">

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center active"><div>What are the services provided?</div></div>
                        <div class="accordion_panel">
                            <div>
                                <p>We offer the latest courses in the field of computer science and technologies, in addition to classifying these courses within educational paths to facilitate the education process</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center"><div>What is special about this Platform?</div></div>
                        <div class="accordion_panel">
                            <div>
                                <p> The educational paths have been chosen by professionals in the field to make it easier for the student and show him the way instead of moving between different sites and losing here everything you need in one place</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center"><div>Who provides scholarships?</div></div>
                        <div class="accordion_panel">
                            <div>
                                <p>The scholarships on the platform are provided by the best universities around the world. Our website serves as a link between students interested in the field of technology and universities that are looking for distinguished students in this field.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center"><div>How do I register for scholarships?</div></div>
                        <div class="accordion_panel">
                            <div>
                                <p>
                                    All you have to do is register on our website and then complete the information required for the scholarship and if you are accepted, you will be notified
                                    And here the work of our site ends and you continue to communicate with the university that offered the scholarship
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Events -->

            <div class="col-lg-4 grouped_col">
                <div class="grouped_title">Upcoming Events</div>
                <div class="events">

                    <!-- Event -->
                    <div class="event d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">6</div>
                                <div class="event_month">October</div>
                            </div>
                        </div>
                        <div class="event_body">
                            <div class="event_title"><a href="#">New Robotics Course Release</a></div>
                            <div class="event_subtitle">Location: Online Platform</div>
                        </div>
                    </div>

                    <!-- Event -->
                    <div class="event d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">12</div>
                                <div class="event_month">October</div>
                            </div>
                        </div>
                        <div class="event_body">
                            <div class="event_title"><a href="#">Design Tutorial Release</a></div>
                            <div class="event_subtitle">Location: Online Platform</div>
                        </div>
                    </div>

                    <!-- Event -->
                    <div class="event d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">25</div>
                                <div class="event_month">September</div>
                            </div>
                        </div>
                        <div class="event_body">
                            <div class="event_title"><a href="#">Launch Party for a new Platform</a></div>
                            <div class="event_subtitle">Location: Online Platform</div>
                        </div>
                    </div>

                    <!-- Event -->
                    <div class="event d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">27</div>
                                <div class="event_month">September</div>
                            </div>
                        </div>
                        <div class="event_body">
                            <div class="event_title"><a href="#">New scholarships this month</a></div>
                            <div class="event_subtitle">Location: Online Platform</div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- News -->

            <div class="col-lg-4 grouped_col">
                <div class="grouped_title">Users opinions</div>
                <div class="news">

                    @foreach (var item in op.Take(4))
                    {

                        <!-- News Post -->
                        <div class="news_post d-flex flex-row align-items-start justify-content-start">
                            <div><div class="news_post_image"><img src="~/images/news_5.jpg" alt=""></div></div>
                            <div class="news_post_body">
                                <div class="news_post_date">September  @x, 2022</div>
                                <div class="news_post_title"><a href="">@item.Message</a></div>
                                <div class="news_post_author">By <a href="#">@item.Name</a></div>
                                @{x++;
                                }
                            </div>
                        </div>
                      
                    }


                    

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Join -->

<div class="join">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="section_title text-center"><h2>Join Our Platform Today</h2></div>
                <div class="section_subtitle">Our site makes you able to self-learning remotely for any path in the computer world in various disciplines from artificial intelligence and software to network science, it facilitates the way for you and shows you the steps to start making your career path</div>
            </div>
        </div>
    </div>
    <div class="button join_button"><a asp-area="Identity" asp-page="/Account/Register" asp-route-id="1">register now<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
</div>
