@model List<ITE_Project.Dto.Student_LT.Student_LTDto>
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/styles/about.css">
<link rel="stylesheet" type="text/css" href="~/styles/about_responsive.css">
<body>
    <section id="portfolio" class="portfolio section-bg">
        <div class="container" style="margin:167px;">
            @if (Model.Count() == 0)
            {
                <p class="text-danger"> You have not registered for any of the educational tracks..</p>
            }

            else
            {
                <div class="m-3">
                    <p  class="text-dark"> The number of educational tracks that you have registered on is  <strong style="color:#8a84e2ff;">@Model.Count</strong></p>
                </div>

                <partial name="_NotificatioPartial" />
                <div class="row portfolio-container" data-aos="fade-up">
                    @foreach (var item in Model)
                    {<div class="col-lg-3 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <div class="course">
                                    <div class="course_image"><img src="~/images/@item.LearnTrack.PhotoLearnTrack" alt="" width="355"></div>
                                    <div class="course_body">
                                        <div class="course_header d-flex flex-row align-items-center justify-content-start">
                                            <div class="course_title"><h3>@item.LearnTrack.LearnTrackName</h3></div>
                                        </div>

                                        <div class="course_text">@item.LearnTrack.Description</div>
                                        <div class="course_sales ml-auto"><span>Specialize:@item.LearnTrack.Specialize_Name</span></div>
                                        @{
                                            int x = DateTime.Now.Month;
                                            int y = item.StartlearnTime.Month;
                                            int x1 = DateTime.Now.Day;
                                            int y1 = item.StartlearnTime.Day;
                                            int z = x - y;
                                            int z1 = x1 - y1;
                                        }
                                    <div class="course_footer d-flex align-items-center justify-content-start">
                                        <div class="course_author_image"><img src="~/images/course_author_3.jpg" alt=""></div>
                                        <div class="course_author_name"><a>Registration start date</a></div>
                                        @if (z == 0 && z1 != 0)
                                        {

                                            <div class="course_sales ml-auto"><span> @z1</span>Day</div>
                                        }
                                        else if (z1 == 0)
                                        {
                                            <div class="course_sales ml-auto"><span>Today </span></div>
                                        }
                                        else
                                        {
                                            <div class="course_sales ml-auto"><span> @z</span>Month</div>

                                        }

                                    </div>
                                    </div>
                                </div>


                                <div class="portfolio-info">
                                    <h4>Join now</h4>
                                    <p>Track details</p>
                                    <div class="portfolio-links">
                                        <a asp-controller="LTDatiles" asp-route-id="@item.LearnTrackId" title="More Details"><i class="bx bx-link"></i></a>
                                        <a asp-action="Delet" asp-route-id="@item.Student_LTId" data-gallery="portfolioGallery" class="portfolio-lightbox confiermDelation" title="Delete"><i class="bx bxs-trash"></i></a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            }

        </div>
    </section>
</body>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/about.js"></script>
}


